@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  height: auto;
  transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}

li {
  height: auto;
  transition: 0.3s ease all;
}

li:hover {
  scale: 102%;
}
